<!DOCTYPE html>
<html>
    <head>
        <title>{#insert title/}</title>
        {#bundle tag="style"/}

    </head>
    <body hx-ext="morphdom-swap" hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
        <nav class="navbar sticky-top bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/static/assets/images/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                {#insert title/}
              </a>
              <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">Publish</button>
              </form>

            </div>
        </nav>
        {#insert /}
        {#bundle tag="script"/}
    </body>
</html>
