<ul id="blogEntries" hx-swap-oob="true" class="blogEntries list-group">
  {#for blogEntry in blogEntries}
  <li
    class="{#if blogEntry.id == currentBlogEntry.id??}active {/if}list-group-item blogEntry d-flex justify-content-between align-items-center">
    <a
      href="{uri:Cms.editBlogEntry(blogEntry.id)}"
      hx-get="{uri:Cms.editBlogEntry(blogEntry.id)}"
      hx-push-url="true"
      hx-target="#blog-editor"
      hx-swap="innerHTML"
    >
      {blogEntry.published}: {blogEntry.title}
    </a>
    {#if blogEntry.id != currentBlogEntry.id??}
    <button class="btn blogEntry-delete"
            hx-delete="{uri:Cms.deleteBlogEntry(blogEntry.id)}"
            hx-confirm="Are you sure?"
            hx-target="closest .blogEntry"
            hx-swap="outerHTML swap:0.5s"
    >
      <i class="bi bi-trash"></i>
    </button>
    {/if}
  </li>
  {/for}
</ul>