<!DOCTYPE html>
<html>
<head>
<title>{#insert title/}</title>
{#bundle /}
</head>
<body>
  <nav class="navbar sticky-top bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/images/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        {#insert title/}
      </a>
    </div>
  </nav>
  <div class="container mt-5">
    {#insert /}
  </div>
</body>
</html>
