body {
    background-color: white;
}

.entries {
    min-width: 400px;
}
.entry {
    padding: 0;
    width: 400px;
}
.entry a, .entry button, .entry > i {
    padding: .5rem 1rem;
}
.entry a {
    cursor: pointer;
    flex-grow: 1;
    display: block;
    color: #333;
    text-decoration: none;
}
.entry button.entry-delete  { color: #ccc; visibility: hidden;  }
.entry button.entry-delete:hover { color: red; }
.entry:hover button.entry-delete { visibility: visible; }

.entry.htmx-swapping a, .entry.htmx-swapping button {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.entry-form input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.entry-form .editor-wrapper {
    min-height: 450px;
}